body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #c01247 !important;
}
.bg-success {
  background-color: #f7a818 !important;
}
.bg-info {
  background-color: #733020 !important;
}
.bg-warning {
  background-color: #232323 !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #c01247 !important;
  border-color: #c01247 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #7a0b2d !important;
  border-color: #7a0b2d !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #7a0b2d !important;
  border-color: #7a0b2d !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #5d1b68 !important;
  border-color: #5d1b68 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #270b2b !important;
  border-color: #270b2b !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #270b2b !important;
  border-color: #270b2b !important;
}
.btn-info,
.btn-info:active {
  background-color: #733020 !important;
  border-color: #733020 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #37170f !important;
  border-color: #37170f !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #37170f !important;
  border-color: #37170f !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7a818 !important;
  border-color: #f7a818 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #bc7c07 !important;
  border-color: #bc7c07 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #bc7c07 !important;
  border-color: #bc7c07 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #630925;
  color: #630925;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c01247;
  border-color: #c01247;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c01247 !important;
  border-color: #c01247 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #150617;
  color: #150617;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #5d1b68;
  border-color: #5d1b68;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #5d1b68 !important;
  border-color: #5d1b68 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #230f0a;
  color: #230f0a;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #733020;
  border-color: #733020;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #733020 !important;
  border-color: #733020 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #a36b06;
  color: #a36b06;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #f7a818;
  border-color: #f7a818;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f7a818 !important;
  border-color: #f7a818 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #232323;
  border-color: #232323;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #c01247 !important;
}
.text-secondary {
  color: #5d1b68 !important;
}
.text-success {
  color: #f7a818 !important;
}
.text-info {
  color: #733020 !important;
}
.text-warning {
  color: #232323 !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #630925 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #150617 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #a36b06 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #230f0a !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #000000 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #cccccc !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #733020;
}
.alert-warning {
  background-color: #232323;
}
.alert-danger {
  background-color: #ffffff;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #c01247;
  border-color: #c01247;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #c01247;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f0618d;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fef2dd;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #cc6047;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #c01247;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c01247;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c01247;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #c01247;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #c01247;
  border-bottom-color: #c01247;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #c01247 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #5d1b68 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23c01247' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-sA8czjtYGv .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sA8czjtYGv .nav-item:focus,
.cid-sA8czjtYGv .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-sA8czjtYGv .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-sA8czjtYGv .nav-item {
    position: relative;
  }
  .cid-sA8czjtYGv .nav-item .nav-link::before {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    bottom: -0.5rem;
    left: 50%;
    background: linear-gradient(90deg, #c01247, #5d1b68);
    transition: width 200ms linear, left 200ms linear;
  }
  .cid-sA8czjtYGv .nav-item.open .nav-link::before {
    bottom: .2rem;
    width: 80% !important;
    left: 10% !important;
  }
  .cid-sA8czjtYGv .nav-item .nav-link:hover::before {
    width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sA8czjtYGv .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sA8czjtYGv .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sA8czjtYGv .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-sA8czjtYGv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-sA8czjtYGv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sA8czjtYGv .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sA8czjtYGv .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sA8czjtYGv .navbar {
  min-height: 77px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  background: none;
  max-height: 100vh;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-sA8czjtYGv .navbar .mbr-overlay {
  z-index: -1;
  transition: all .3s;
  background: #ffffff;
}
.cid-sA8czjtYGv .navbar.opened .mbr-overlay {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-sA8czjtYGv .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-sA8czjtYGv .navbar .navbar-collapse {
  width: 100%;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
  padding: .5rem 1rem;
}
@media (max-width: 991px) {
  .cid-sA8czjtYGv .navbar .navbar-collapse {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.cid-sA8czjtYGv .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sA8czjtYGv .navbar.collapsed.opened .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-sA8czjtYGv .navbar.collapsed .navbar-collapse.show,
.cid-sA8czjtYGv .navbar.collapsed .navbar-collapse.collapsing {
  transition: all .3s linear;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-sA8czjtYGv .navbar.collapsed .navbar-collapse.show .brand-container,
.cid-sA8czjtYGv .navbar.collapsed .navbar-collapse.collapsing .brand-container {
  -webkit-order: -1;
  order: -1;
}
.cid-sA8czjtYGv .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-sA8czjtYGv .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sA8czjtYGv .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sA8czjtYGv .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-sA8czjtYGv .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sA8czjtYGv .navbar.collapsed .navbar-buttons {
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-sA8czjtYGv .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-sA8czjtYGv .navbar.collapsed .right-menu,
.cid-sA8czjtYGv .navbar.collapsed .left-menu {
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
@media (max-width: 991px) {
  .cid-sA8czjtYGv .navbar .navbar-collapse.show,
  .cid-sA8czjtYGv .navbar .navbar-collapse.collapsing {
    transition: all .3s linear;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-sA8czjtYGv .navbar .navbar-collapse.show .brand-container,
  .cid-sA8czjtYGv .navbar .navbar-collapse.collapsing .brand-container {
    -webkit-order: -1;
    order: -1;
  }
  .cid-sA8czjtYGv .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sA8czjtYGv .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-sA8czjtYGv .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sA8czjtYGv .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sA8czjtYGv .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-sA8czjtYGv .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-sA8czjtYGv .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sA8czjtYGv .navbar .navbar-buttons {
    margin: 0;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-sA8czjtYGv .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-sA8czjtYGv .navbar .right-menu,
  .cid-sA8czjtYGv .navbar .left-menu {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-sA8czjtYGv .navbar.navbar-short {
  min-height: 60px;
}
.cid-sA8czjtYGv .navbar.navbar-short .mbr-overlay {
  background: #ffffff !important;
}
.cid-sA8czjtYGv .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-sA8czjtYGv .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-sA8czjtYGv .navbar-brand {
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sA8czjtYGv .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sA8czjtYGv .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sA8czjtYGv .dropdown-item.active,
.cid-sA8czjtYGv .dropdown-item:active {
  background-color: transparent;
}
.cid-sA8czjtYGv .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sA8czjtYGv .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sA8czjtYGv .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sA8czjtYGv .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sA8czjtYGv .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sA8czjtYGv .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sA8czjtYGv ul.navbar-nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .cid-sA8czjtYGv ul.navbar-nav {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.cid-sA8czjtYGv .navbar-buttons {
  margin-left: auto;
}
.cid-sA8czjtYGv button.navbar-toggler {
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin: 1rem;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sA8czjtYGv button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-sA8czjtYGv button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sA8czjtYGv button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sA8czjtYGv button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sA8czjtYGv button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sA8czjtYGv nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sA8czjtYGv nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
  width: 20px;
  right: -2px;
}
.cid-sA8czjtYGv nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
  width: 20px;
  left: -2px;
}
.cid-sA8czjtYGv nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sA8czjtYGv .navbar-dropdown {
  position: fixed;
}
.cid-sA8czjtYGv a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sA8czjtYGv .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-sA8czjtYGv .right-menu,
.cid-sA8czjtYGv .left-menu {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
.cid-sA8czjtYGv .left-menu .navbar-nav {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-sA8czjtYGv .left-menu .navbar-nav ul {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-sA8czjtYGv .brand-container {
  padding: 0 2rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-sA8czjtYGv .menu-top {
  text-align: center;
  width: 100%;
  background-color: #c01247;
  padding: .5rem 0;
}
.cid-sA8czjtYGv .full-link {
  width: 100%;
  font-size: 0;
  z-index: 2;
}
.cid-sA8czjtYGv .card-wrapper {
  z-index: 3;
}
.cid-sA8czjtYGv .popup-btn.card-wrapper {
  z-index: 1 !important;
}
@media (max-width: 991px) {
  .cid-sA8czjtYGv .navbar-collapse {
    padding-top: 0;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sA8czjtYGv .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sA8mXr5121 {
  background: #ffffff;
  padding-top: 90px;
  padding-bottom: 0px;
}
.cid-sA8mXr5121 .image-block {
  margin: auto;
  height: 450px;
  overflow: hidden;
  position: relative;
}
.cid-sA8mXr5121 .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-sA8mXr5121 .image-block:hover:before {
  opacity: 0.2;
}
.cid-sA8mXr5121 .image-block:hover .wrap {
  opacity: 1;
}
.cid-sA8mXr5121 .image-block:hover img {
  transform: scale(1.05);
}
.cid-sA8mXr5121 h4 {
  letter-spacing: 2px;
}
.cid-sA8mXr5121 figcaption {
  position: relative;
}
.cid-sA8mXr5121 figcaption .wrap {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-sA8mXr5121 img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-sA8mXr5121 .image-block {
    max-height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-sA8mXr5121 .wrap {
    opacity: 1!important;
  }
  .cid-sA8mXr5121 .image-block:before {
    opacity: 0.2!important;
  }
}
.cid-sA8mfZ9OXv {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sA8mfZ9OXv .section-text {
  padding: 2rem 0;
  letter-spacing: 0.03em;
  color: #232323;
}
.cid-sA8mfZ9OXv .inner-container {
  margin: 0 auto;
  position: relative;
}
.cid-sA8mfZ9OXv .inner-container .mbr-iconfont {
  z-index: 1;
  position: absolute;
  font-size: 9rem;
  color: #efefef;
  opacity: .1;
}
.cid-sA8mfZ9OXv .inner-container .mbr-iconfont.left-top {
  left: -1rem;
  top: -1rem;
}
.cid-sA8mfZ9OXv .inner-container .mbr-iconfont.right-down {
  right: -1rem;
  bottom: -1rem;
}
.cid-sA8mfZ9OXv .inner-container .section-text {
  z-index: 3;
  min-height: 10rem;
}
@media (max-width: 767px) {
  .cid-sA8mfZ9OXv .inner-container {
    width: 100% !important;
  }
  .cid-sA8mfZ9OXv .mbr-iconfont {
    font-size: 6rem !important;
  }
}
.cid-sA8gEPv8nk {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-sA8gEPv8nk .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sA8gEPv8nk .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-sA8gEPv8nk .mbr-text {
  color: #232323;
}
.cid-sA8j1wY2ZB {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-sA8j1wY2ZB .card-wrapper {
  overflow: hidden;
  height: 100%;
  padding: 0;
  display: flex;
}
.cid-sA8j1wY2ZB .line-wrap {
  display: inline-block;
  width: 100%;
}
.cid-sA8j1wY2ZB p {
  line-height: 1.5;
}
.cid-sA8j1wY2ZB .line {
  display: inline-block;
  width: 100px;
  height: 4px;
  background-color: #0a1c44;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.cid-sA8j1wY2ZB .mail,
.cid-sA8j1wY2ZB .phone,
.cid-sA8j1wY2ZB .mbr-iconfont {
  display: inline-block;
}
.cid-sA8j1wY2ZB .card-title {
  color: #149dcc;
  margin: 0;
}
.cid-sA8j1wY2ZB .card-img {
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  width: 30%;
  margin: auto;
}
.cid-sA8j1wY2ZB .card-box {
  padding-left: 1rem;
  width: 70%;
  margin: auto 0;
}
.cid-sA8j1wY2ZB .mbr-section-title,
.cid-sA8j1wY2ZB .line-wrap {
  text-align: center;
}
.cid-sA8j1wY2ZB .mail {
  color: #232323;
}
.cid-sA8j1wY2ZB .card-title {
  color: #232323;
  text-align: center;
}
.cid-sA8j1wY2ZB .mbr-text {
  text-align: center;
}
.cid-sA8krEWAc3 {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../../../assets/images/67445523-10219187549430345-7148090027505876992-n1.jpeg");
}
.cid-sA8l6OHtro {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sA8l6OHtro h4 {
  font-weight: 600;
  color: #e2e2e2;
}
.cid-sA8l6OHtro .mbr-section-subtitle {
  color: #767676;
}
.cid-sA8l6OHtro .article {
  padding-right: 2rem;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .cid-sA8l6OHtro .article-right-border {
    border-right: 2px dotted #e2e2e2;
  }
}
.cid-sA8l6OHtro .article-counter-left {
  color: #efefef;
}
.cid-sA8l6OHtro .article-counter-right {
  color: #efefef;
}
.cid-sA8l6OHtro .article-title-left {
  color: #5d1b68;
}
.cid-sA8l6OHtro .article-title-right {
  color: #5d1b68;
}
.cid-sA8nKeJZ5P {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sA8nKeJZ5P .mbr-section-subtitle {
  color: #232323;
  text-align: center;
}
.cid-sA8nKeJZ5P .btn {
  margin: 0 0 .5rem 0;
}
.cid-sA8nKeJZ5P H2 {
  text-align: center;
}
.cid-sAo1Da2hMJ {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sAo1Da2hMJ .image-block {
  margin: auto;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.cid-sAo1Da2hMJ .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-sAo1Da2hMJ .image-block:hover:before {
  opacity: 0.2;
}
.cid-sAo1Da2hMJ .image-block:hover .wrap {
  opacity: 1;
}
.cid-sAo1Da2hMJ .image-block:hover img {
  transform: scale(1.05);
}
.cid-sAo1Da2hMJ h4 {
  letter-spacing: 2px;
}
.cid-sAo1Da2hMJ figcaption {
  position: relative;
}
.cid-sAo1Da2hMJ figcaption .wrap {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-sAo1Da2hMJ img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-sAo1Da2hMJ .image-block {
    max-height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-sAo1Da2hMJ .wrap {
    opacity: 1!important;
  }
  .cid-sAo1Da2hMJ .image-block:before {
    opacity: 0.2!important;
  }
}
.cid-sAo1Er9ufr {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sAo1Er9ufr .image-block {
  margin: auto;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.cid-sAo1Er9ufr .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-sAo1Er9ufr .image-block:hover:before {
  opacity: 0.2;
}
.cid-sAo1Er9ufr .image-block:hover .wrap {
  opacity: 1;
}
.cid-sAo1Er9ufr .image-block:hover img {
  transform: scale(1.05);
}
.cid-sAo1Er9ufr h4 {
  letter-spacing: 2px;
}
.cid-sAo1Er9ufr figcaption {
  position: relative;
}
.cid-sAo1Er9ufr figcaption .wrap {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-sAo1Er9ufr img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-sAo1Er9ufr .image-block {
    max-height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-sAo1Er9ufr .wrap {
    opacity: 1!important;
  }
  .cid-sAo1Er9ufr .image-block:before {
    opacity: 0.2!important;
  }
}
.cid-sAo1DXzdJl {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 15px;
}
.cid-sAo1DXzdJl .image-block {
  margin: auto;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.cid-sAo1DXzdJl .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-sAo1DXzdJl .image-block:hover:before {
  opacity: 0.2;
}
.cid-sAo1DXzdJl .image-block:hover .wrap {
  opacity: 1;
}
.cid-sAo1DXzdJl .image-block:hover img {
  transform: scale(1.05);
}
.cid-sAo1DXzdJl h4 {
  letter-spacing: 2px;
}
.cid-sAo1DXzdJl figcaption {
  position: relative;
}
.cid-sAo1DXzdJl figcaption .wrap {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-sAo1DXzdJl img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-sAo1DXzdJl .image-block {
    max-height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-sAo1DXzdJl .wrap {
    opacity: 1!important;
  }
  .cid-sAo1DXzdJl .image-block:before {
    opacity: 0.2!important;
  }
}
.cid-sB4G48j1gG {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-sB4G48j1gG .image-block {
  margin: auto;
}
.cid-sB4G48j1gG figcaption {
  position: relative;
}
.cid-sB4G48j1gG figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sB4G48j1gG .image-block {
    width: 100% !important;
  }
}
.cid-sA8o9ljibB {
  padding-top: 105px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sA8o9ljibB .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-sA8o9ljibB .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-sA8o9ljibB .media-wrap img {
  height: 6rem;
}
.cid-sA8o9ljibB .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-sA8o9ljibB .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-sA8o9ljibB .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-sA8o9ljibB .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-sA8o9ljibB .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-sA8o9ljibB .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-sA8o9ljibB .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-sA8o9ljibB .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sA8o9ljibB .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sA8o9ljibB .links {
  color: #232323;
}
.cid-sA8o9ljibB .copyright > p {
  text-align: left;
}
.cid-sB9iUeGkZY .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sB9iUeGkZY .nav-item:focus,
.cid-sB9iUeGkZY .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-sB9iUeGkZY .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-sB9iUeGkZY .nav-item {
    position: relative;
  }
  .cid-sB9iUeGkZY .nav-item .nav-link::before {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    bottom: -0.5rem;
    left: 50%;
    background: linear-gradient(90deg, #c01247, #5d1b68);
    transition: width 200ms linear, left 200ms linear;
  }
  .cid-sB9iUeGkZY .nav-item.open .nav-link::before {
    bottom: .2rem;
    width: 80% !important;
    left: 10% !important;
  }
  .cid-sB9iUeGkZY .nav-item .nav-link:hover::before {
    width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sB9iUeGkZY .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sB9iUeGkZY .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sB9iUeGkZY .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-sB9iUeGkZY .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-sB9iUeGkZY .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sB9iUeGkZY .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sB9iUeGkZY .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sB9iUeGkZY .navbar {
  min-height: 77px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  background: none;
  max-height: 100vh;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-sB9iUeGkZY .navbar .mbr-overlay {
  z-index: -1;
  transition: all .3s;
  background: #ffffff;
}
.cid-sB9iUeGkZY .navbar.opened .mbr-overlay {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-sB9iUeGkZY .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-sB9iUeGkZY .navbar .navbar-collapse {
  width: 100%;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
  padding: .5rem 1rem;
}
@media (max-width: 991px) {
  .cid-sB9iUeGkZY .navbar .navbar-collapse {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.cid-sB9iUeGkZY .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sB9iUeGkZY .navbar.collapsed.opened .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-sB9iUeGkZY .navbar.collapsed .navbar-collapse.show,
.cid-sB9iUeGkZY .navbar.collapsed .navbar-collapse.collapsing {
  transition: all .3s linear;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-sB9iUeGkZY .navbar.collapsed .navbar-collapse.show .brand-container,
.cid-sB9iUeGkZY .navbar.collapsed .navbar-collapse.collapsing .brand-container {
  -webkit-order: -1;
  order: -1;
}
.cid-sB9iUeGkZY .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-sB9iUeGkZY .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sB9iUeGkZY .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sB9iUeGkZY .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-sB9iUeGkZY .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sB9iUeGkZY .navbar.collapsed .navbar-buttons {
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-sB9iUeGkZY .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-sB9iUeGkZY .navbar.collapsed .right-menu,
.cid-sB9iUeGkZY .navbar.collapsed .left-menu {
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
@media (max-width: 991px) {
  .cid-sB9iUeGkZY .navbar .navbar-collapse.show,
  .cid-sB9iUeGkZY .navbar .navbar-collapse.collapsing {
    transition: all .3s linear;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-sB9iUeGkZY .navbar .navbar-collapse.show .brand-container,
  .cid-sB9iUeGkZY .navbar .navbar-collapse.collapsing .brand-container {
    -webkit-order: -1;
    order: -1;
  }
  .cid-sB9iUeGkZY .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sB9iUeGkZY .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-sB9iUeGkZY .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sB9iUeGkZY .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sB9iUeGkZY .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-sB9iUeGkZY .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-sB9iUeGkZY .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sB9iUeGkZY .navbar .navbar-buttons {
    margin: 0;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-sB9iUeGkZY .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-sB9iUeGkZY .navbar .right-menu,
  .cid-sB9iUeGkZY .navbar .left-menu {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-sB9iUeGkZY .navbar.navbar-short {
  min-height: 60px;
}
.cid-sB9iUeGkZY .navbar.navbar-short .mbr-overlay {
  background: #ffffff !important;
}
.cid-sB9iUeGkZY .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-sB9iUeGkZY .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-sB9iUeGkZY .navbar-brand {
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sB9iUeGkZY .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sB9iUeGkZY .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sB9iUeGkZY .dropdown-item.active,
.cid-sB9iUeGkZY .dropdown-item:active {
  background-color: transparent;
}
.cid-sB9iUeGkZY .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sB9iUeGkZY .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sB9iUeGkZY .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sB9iUeGkZY .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sB9iUeGkZY .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sB9iUeGkZY .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sB9iUeGkZY ul.navbar-nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .cid-sB9iUeGkZY ul.navbar-nav {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.cid-sB9iUeGkZY .navbar-buttons {
  margin-left: auto;
}
.cid-sB9iUeGkZY button.navbar-toggler {
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin: 1rem;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sB9iUeGkZY button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-sB9iUeGkZY button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sB9iUeGkZY button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sB9iUeGkZY button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sB9iUeGkZY button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sB9iUeGkZY nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sB9iUeGkZY nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
  width: 20px;
  right: -2px;
}
.cid-sB9iUeGkZY nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
  width: 20px;
  left: -2px;
}
.cid-sB9iUeGkZY nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sB9iUeGkZY .navbar-dropdown {
  position: fixed;
}
.cid-sB9iUeGkZY a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sB9iUeGkZY .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-sB9iUeGkZY .right-menu,
.cid-sB9iUeGkZY .left-menu {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
.cid-sB9iUeGkZY .left-menu .navbar-nav {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-sB9iUeGkZY .left-menu .navbar-nav ul {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-sB9iUeGkZY .brand-container {
  padding: 0 2rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-sB9iUeGkZY .menu-top {
  text-align: center;
  width: 100%;
  background-color: #c01247;
  padding: .5rem 0;
}
.cid-sB9iUeGkZY .full-link {
  width: 100%;
  font-size: 0;
  z-index: 2;
}
.cid-sB9iUeGkZY .card-wrapper {
  z-index: 3;
}
.cid-sB9iUeGkZY .popup-btn.card-wrapper {
  z-index: 1 !important;
}
@media (max-width: 991px) {
  .cid-sB9iUeGkZY .navbar-collapse {
    padding-top: 0;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sB9iUeGkZY .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sB9iUfEB12 {
  background: #ffffff;
  padding-top: 90px;
  padding-bottom: 0px;
}
.cid-sB9iUfEB12 .image-block {
  margin: auto;
  height: 450px;
  overflow: hidden;
  position: relative;
}
.cid-sB9iUfEB12 .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-sB9iUfEB12 .image-block:hover:before {
  opacity: 0.2;
}
.cid-sB9iUfEB12 .image-block:hover .wrap {
  opacity: 1;
}
.cid-sB9iUfEB12 .image-block:hover img {
  transform: scale(1.05);
}
.cid-sB9iUfEB12 h4 {
  letter-spacing: 2px;
}
.cid-sB9iUfEB12 figcaption {
  position: relative;
}
.cid-sB9iUfEB12 figcaption .wrap {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-sB9iUfEB12 img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-sB9iUfEB12 .image-block {
    max-height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-sB9iUfEB12 .wrap {
    opacity: 1!important;
  }
  .cid-sB9iUfEB12 .image-block:before {
    opacity: 0.2!important;
  }
}
.cid-sB9iUgmBm4 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sB9iUgmBm4 .section-text {
  padding: 2rem 0;
  letter-spacing: 0.03em;
  color: #232323;
}
.cid-sB9iUgmBm4 .inner-container {
  margin: 0 auto;
  position: relative;
}
.cid-sB9iUgmBm4 .inner-container .mbr-iconfont {
  z-index: 1;
  position: absolute;
  font-size: 9rem;
  color: #efefef;
  opacity: .1;
}
.cid-sB9iUgmBm4 .inner-container .mbr-iconfont.left-top {
  left: -1rem;
  top: -1rem;
}
.cid-sB9iUgmBm4 .inner-container .mbr-iconfont.right-down {
  right: -1rem;
  bottom: -1rem;
}
.cid-sB9iUgmBm4 .inner-container .section-text {
  z-index: 3;
  min-height: 10rem;
}
@media (max-width: 767px) {
  .cid-sB9iUgmBm4 .inner-container {
    width: 100% !important;
  }
  .cid-sB9iUgmBm4 .mbr-iconfont {
    font-size: 6rem !important;
  }
}
.cid-sB9iUgHljs {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-sB9iUgHljs .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sB9iUgHljs .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-sB9iUgHljs .mbr-text {
  color: #232323;
}
.cid-sB9iUgUP60 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-sB9iUgUP60 .card-wrapper {
  overflow: hidden;
  height: 100%;
  padding: 0;
  display: flex;
}
.cid-sB9iUgUP60 .line-wrap {
  display: inline-block;
  width: 100%;
}
.cid-sB9iUgUP60 p {
  line-height: 1.5;
}
.cid-sB9iUgUP60 .line {
  display: inline-block;
  width: 100px;
  height: 4px;
  background-color: #0a1c44;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.cid-sB9iUgUP60 .mail,
.cid-sB9iUgUP60 .phone,
.cid-sB9iUgUP60 .mbr-iconfont {
  display: inline-block;
}
.cid-sB9iUgUP60 .card-title {
  color: #149dcc;
  margin: 0;
}
.cid-sB9iUgUP60 .card-img {
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  width: 30%;
  margin: auto;
}
.cid-sB9iUgUP60 .card-box {
  padding-left: 1rem;
  width: 70%;
  margin: auto 0;
}
.cid-sB9iUgUP60 .mbr-section-title,
.cid-sB9iUgUP60 .line-wrap {
  text-align: center;
}
.cid-sB9iUgUP60 .mail {
  color: #232323;
}
.cid-sB9iUgUP60 .card-title {
  color: #232323;
  text-align: left;
}
.cid-sB9iUgUP60 .mbr-text {
  text-align: center;
}
.cid-sB9iUhQDII {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../../../assets/images/67445523-10219187549430345-7148090027505876992-n1.jpeg");
}
.cid-sB9iUicDvS {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sB9iUicDvS h4 {
  font-weight: 600;
  color: #e2e2e2;
}
.cid-sB9iUicDvS .mbr-section-subtitle {
  color: #767676;
}
.cid-sB9iUicDvS .article {
  padding-right: 2rem;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .cid-sB9iUicDvS .article-right-border {
    border-right: 2px dotted #e2e2e2;
  }
}
.cid-sB9iUicDvS .article-counter-left {
  color: #efefef;
}
.cid-sB9iUicDvS .article-counter-right {
  color: #efefef;
}
.cid-sB9iUicDvS .article-title-left {
  color: #5d1b68;
}
.cid-sB9iUicDvS .article-title-right {
  color: #5d1b68;
}
.cid-sB9iUizgJ9 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sB9iUizgJ9 .mbr-section-subtitle {
  color: #232323;
  text-align: center;
}
.cid-sB9iUizgJ9 .btn {
  margin: 0 0 .5rem 0;
}
.cid-sB9iUizgJ9 H2 {
  text-align: center;
}
.cid-sB9iUiY3MD {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sB9iUiY3MD .image-block {
  margin: auto;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.cid-sB9iUiY3MD .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-sB9iUiY3MD .image-block:hover:before {
  opacity: 0.2;
}
.cid-sB9iUiY3MD .image-block:hover .wrap {
  opacity: 1;
}
.cid-sB9iUiY3MD .image-block:hover img {
  transform: scale(1.05);
}
.cid-sB9iUiY3MD h4 {
  letter-spacing: 2px;
}
.cid-sB9iUiY3MD figcaption {
  position: relative;
}
.cid-sB9iUiY3MD figcaption .wrap {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-sB9iUiY3MD img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-sB9iUiY3MD .image-block {
    max-height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-sB9iUiY3MD .wrap {
    opacity: 1!important;
  }
  .cid-sB9iUiY3MD .image-block:before {
    opacity: 0.2!important;
  }
}
.cid-sB9iUkiWOd {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sB9iUkiWOd .image-block {
  margin: auto;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.cid-sB9iUkiWOd .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-sB9iUkiWOd .image-block:hover:before {
  opacity: 0.2;
}
.cid-sB9iUkiWOd .image-block:hover .wrap {
  opacity: 1;
}
.cid-sB9iUkiWOd .image-block:hover img {
  transform: scale(1.05);
}
.cid-sB9iUkiWOd h4 {
  letter-spacing: 2px;
}
.cid-sB9iUkiWOd figcaption {
  position: relative;
}
.cid-sB9iUkiWOd figcaption .wrap {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-sB9iUkiWOd img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-sB9iUkiWOd .image-block {
    max-height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-sB9iUkiWOd .wrap {
    opacity: 1!important;
  }
  .cid-sB9iUkiWOd .image-block:before {
    opacity: 0.2!important;
  }
}
.cid-sB9iUlo5c6 {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 15px;
}
.cid-sB9iUlo5c6 .image-block {
  margin: auto;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.cid-sB9iUlo5c6 .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-sB9iUlo5c6 .image-block:hover:before {
  opacity: 0.2;
}
.cid-sB9iUlo5c6 .image-block:hover .wrap {
  opacity: 1;
}
.cid-sB9iUlo5c6 .image-block:hover img {
  transform: scale(1.05);
}
.cid-sB9iUlo5c6 h4 {
  letter-spacing: 2px;
}
.cid-sB9iUlo5c6 figcaption {
  position: relative;
}
.cid-sB9iUlo5c6 figcaption .wrap {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-sB9iUlo5c6 img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-sB9iUlo5c6 .image-block {
    max-height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-sB9iUlo5c6 .wrap {
    opacity: 1!important;
  }
  .cid-sB9iUlo5c6 .image-block:before {
    opacity: 0.2!important;
  }
}
.cid-sB9iUlVCCB {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-sB9iUlVCCB .image-block {
  margin: auto;
}
.cid-sB9iUlVCCB figcaption {
  position: relative;
}
.cid-sB9iUlVCCB figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sB9iUlVCCB .image-block {
    width: 100% !important;
  }
}
.cid-sB9iUmdi7b {
  padding-top: 105px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sB9iUmdi7b .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-sB9iUmdi7b .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-sB9iUmdi7b .media-wrap img {
  height: 6rem;
}
.cid-sB9iUmdi7b .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-sB9iUmdi7b .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-sB9iUmdi7b .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-sB9iUmdi7b .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-sB9iUmdi7b .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-sB9iUmdi7b .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-sB9iUmdi7b .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-sB9iUmdi7b .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sB9iUmdi7b .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sB9iUmdi7b .links {
  color: #232323;
}
.cid-sB9iUmdi7b .copyright > p {
  text-align: left;
}
